/*大型屏幕pc 超大屏*/
@media screen and (min-width:1200px){
  .content-container {
    width: 1440px;
  }
}
/*1200>=pc>=992 */
@media screen and (min-width:992px) and (max-width: 1199px){
  .content-container {
    width: 990px;
  }
}
/*768<=pad<992 */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .content-container {
    width: 762px;
  }
}
/*phone<768*/
@media screen and (max-width: 767px) and (min-width: 480px){
  .content-container {
    width: 100%;
  }
}
/* 超小屏*/
@media screen and (max-width: 480px){
  .content-container {
    width: 100%;
  }
}
